[client]
socket=/var/lib/mysql/mysql.sock
default-character-set=utf8mb4


[mysql]
prompt = [\\u@\\p][\\d]>\\_
no-auto-rehash

[mysqld]
########basic settings########
user=mysql
server-id = 20240703190609
port = 3306
mysqlx_port=33060
socket=/var/lib/mysql/mysql.sock
default-time-zone='+08:00'
host_cache_size=0
# federated
character_set_server=utf8mb4
skip-external-locking
skip_name_resolve = 1
lower-case-table-names=1
event_scheduler = ON
max_connections = 4096
max_connect_errors = 1000
datadir = /var/lib/mysql
transaction_isolation = READ-COMMITTED
explicit_defaults_for_timestamp = 1
tmp_table_size = 64M
read_buffer_size = 8M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M
tmpdir = /var/lib/mysql
max_allowed_packet = 160M
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
#interactive_timeout = 1800
#wait_timeout = 1800
secure_file_priv="/var/lib/mysql"
# authentication_policy='mysql_native_password,,'
default_authentication_plugin=mysql_native_password
sql_generate_invisible_primary_key
#一物一码20220414
group_concat_max_len=10485760
local_infile=1

########log settings########
log_timestamps=system
log_error = /var/lib/mysql/error.log
slow_query_log = 0
slow_query_log_file = /var/lib/mysql/slow.log
log_slow_admin_statements = 1
log_slow_replica_statements = 1
max_binlog_size = 1073741824
binlog_expire_logs_seconds=86400
log_bin_trust_function_creators=1
long_query_time = 1
#log_slow_extra = 1
log_throttle_queries_not_using_indexes = 10
log_queries_not_using_indexes = 1
#min_examined_row_limit = 100

########replication settings########
log-bin = /var/lib/mysql/mysql-bin
sync_binlog = 1
gtid_mode = on
enforce_gtid_consistency = 1
log_replica_updates
relay_log = relay.log
relay_log_recovery = 1
binlog_gtid_simple_recovery = 1
replica_parallel_workers = 4
#replica_skip_errors = 13121
#replica_skip_errors = 1032,ddl_exist_errors
#replica_preserve_commit_order = 1
replica_pending_jobs_size_max = 160M
# master to master config offset and increment
#auto_increment_increment=2
#auto_increment_offset=1

########innodb settings########
# You can set innodb_buffer_pool_size up to 75 % of RAM
innodb_buffer_pool_size = 1G
innodb_redo_log_capacity=1G
innodb_flush_method = O_DIRECT
innodb_buffer_pool_instances = 4
innodb_lock_wait_timeout = 20
innodb_io_capacity = 2000
innodb_undo_directory = /var/lib/mysql
innodb_log_buffer_size = 10M
innodb_sync_spin_loops = 100
innodb_spin_wait_delay = 30
innodb_purge_threads = 4
innodb_print_all_deadlocks = 1
innodb_stats_on_metadata=off
innodb_temp_data_file_path = ibtmp1:12M:autoextend:max:5G
#innodb_page_size = 16384
#innodb_lru_scan_depth = 2000
#innodb_io_capacity_max = 8000
#innodb_buffer_pool_load_at_startup = 1
#innodb_buffer_pool_dump_at_shutdown = 1
#innodb_flush_neighbors = 1
#innodb_file_format = Barracuda
#innodb_file_format_max = Barracuda
#innodb_strict_mode = 1
#innodb_sort_buffer_size = 67108864 
#innodb_thread_concurrency = 64

#innodb_numa_interleave = 1
innodb_buffer_pool_dump_pct = 40
innodb_page_cleaners = 4
innodb_undo_log_truncate = 1
innodb_max_undo_log_size = 2G
innodb_purge_rseg_truncate_frequency = 128
# innodb_deadlock_detect = 1

# semi sync replication settings #
#plugin-load="group_replication.so;semisync_source.so;semisync_replica.so"
#rpl_semi_sync_source_enabled=1
#rpl_semi_sync_replica_enabled=1
#rpl_semi_sync_source_timeout=3000

# perforamnce_schema settings
performance-schema-instrument='memory/%=COUNTED'
performance_schema_digests_size = 40000
performance_schema_max_table_handles = 40000
performance_schema_max_table_instances = 40000
performance_schema_max_sql_text_length = 4096
performance_schema_max_digest_length = 4096
performance_schema_show_processlist = 1
secure_file_priv = ""
