version: '3.1'
services:
  jenkins:
    image: jenkins/jenkins:2.484-jdk17
    logging:
      driver: "json-file"
      options:
        max-size: "100m"  # 单个日志文件的最大大小
        max-file: "3"    # 保留的最大日志文件数
    volumes:
      - ./conf/custom.sh:/etc/profile.d/custom.sh
      - /usr/local/jdk/:/usr/local/jdk
      - /app/jenkins/jenkins_home:/var/jenkins_home
      - /middleware/apache-maven-3.8.7:/middleware/maven
      - /middleware/node-v16.20.2-linux-x64/node:/middleware/node
      - /usr/share/zoneinfo/Asia/Shanghai:/etc/localtime
      - /run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /usr/lib/x86_64-linux-gnu/libltdl.so.7:/usr/lib/x86_64-linux-gnu/libltdl.so.7
      - /root/.kube/config:/root/.kube/config
      - /usr/local/bin/sshpass:/usr/bin/sshpass
      - /usr/bin/kubectl:/usr/bin/kubectl
      - /etc/kubernetes/admin.conf:/etc/kubernetes/admin.conf
      - /etc/hosts:/etc/hosts
      #- /app/jenkins/repo:/root/.m2/repository
    ports:
      - "8081:8080"
    expose:
      - "8080"
      - "50000"
    privileged: true
    user: root
    restart: always
    container_name: jenkins
    environment:
      JAVA_OPTS: '-Djava.util.logging.config.file=/var/jenkins_home/log.properties'
      # KUBECONFIG: '/etc/kubernetes/admin.conf'
    networks:
      - jenkins_network
networks:
  jenkins_network:
    ipam:
      config:
        - subnet: 172.27.0.0/16